1. From the following elements we can say that 

Values :        'hello' , -87.8 , 6

Expression :     * , - , / , +

2. Difference between String and Variable is :

--> String is a form of data type which represents text data and is always enclosed with single or double quotes 

--> Variable is like a container where we can store any type of data.

3. Three Different Data types are :

--> Int : this data type stores positive as well as negative whole numbers with no decimal point.

--> Float : this data type stores positive as well as negative floating point numbers with one or more decimal point. 

--> Boolean : this data type store only 'True' or 'False' nad is used to know whether a certain statement is true or false.  

Below are some exampes of the data types

In [18]:
# some examples of data types

a = 12; print(a); print(type(a))
b = -12; print(b); print(type(b))
c = 12.321; print(c); print(type(c))
d = -12.321; print(d); print(type(d))
e = True; print(d); print("the variable is :",type(e))
print(3>2)
print(20<10)

12
<class 'int'>
-12
<class 'int'>
12.321
<class 'float'>
-12.321
<class 'float'>
-12.321
the variable is : <class 'bool'>
True
False

4. Expressions are made up of operators and operands.
All expressions produce some output value after executing.

5. We have been given a statement i.e spam = 10.(An int type of variable storing value 10)

Expressions are made of operators, operands and always shows a result after evaluating. 
Every expression cannot be a statement.

Statements may or maybe not show output when it is evaluated. It only does whatever the statement says.
Every statement can be an expression.

In [19]:
# examples of statement and expression

spam = 10          # statement
print(spam)        # shows output of the statement
spam = spam + 10   # expression
print(spam)        # shows output of the expression

10
20

6. After running the code bacon will contain 23. But initially if we print bacon on another cell it will return its default value as 22.

In [20]:
bacon = 22
bacon+1

23

In [22]:
bacon

22

7. after executing 'spam'+'spamspam' we got 'spamspamspam'.
after execuitng 'spam' * 3 we got 'spamspamspam'.
Both terms has the same answer.

In [25]:
'spam'+'spamspam'

'spamspamspam'

In [26]:
'spam' * 3

'spamspamspam'

8. eggs is a valid variable name while 100 is invalid because variable name can't start with a number.

9. functions are 

--> For integer use int() to get integer version of a value
--> For floating point number use float() to get floating point version of a value
--> For String use str() to get a string version of a value

10. we can fix the error of this expression just by converting 99 into string since 99 is a int type value and by adding single quotes we turn it into string.

In [32]:
'I have eaten '+'99'+' burritos'

'I have eaten 99 burritos'